<div class="container-fluid">
    <div class="row-md tile">
        <div class="form-box col-md-4 form-horizontal">
            <div class="form-input">
                <label class="control-label col-md-3">{{ core_data.anrede.display_name }}</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="contactFormCtrl.contact_edit.anrede" ng-required="true"
                            ng-options="option.name for option in core_data.anrede.values track by option.id">
                        <option value="">-- Bitte wählen --</option>
                    </select>
                </div>
            </div>
            <div class="form-input">
                <label class="control-label col-md-3">Vorname</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="contactFormCtrl.contact_edit.name1">
                </div>
            </div>
            <div class="form-input">
                <label class="control-label col-md-3">Nachname</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="contactFormCtrl.contact_edit.name2">
                </div>
            </div>
            <div class="form-input">
                <label class="control-label col-md-3">Position</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="contactFormCtrl.contact_edit.position">
                </div>
            </div>
            <div class="form-input">
                <label class="control-label col-md-3">Korr.Spr.</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="contactFormCtrl.contact_edit.correspond_language" ng-required="true"
                            ng-options="option.name for option in (core_data.languages_flat.values | orderByName) track by option.id">
                        <option value="">-- Bitte wählen --</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-box col-md-4 form-horizontal">
            <div class="form-input row">
                <label class="control-label col-md-3">E-Mail</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="contactFormCtrl.contact_edit.email">
                </div>
            </div>
            <div class="form-input row">
                <label class="control-label col-md-3">E-Mail2</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="contactFormCtrl.contact_edit.email2">
                </div>
            </div>
            <div class="form-input row">
                <label class="control-label col-md-3">Telefon</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="contactFormCtrl.contact_edit.phone">
                </div>
            </div>
            <div class="form-input row">
                <label class="control-label col-md-3">Mobil</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="contactFormCtrl.contact_edit.phone2">
                </div>
            </div>
            <div class="form-input row">
                <label class="control-label col-md-3">Fax</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="contactFormCtrl.contact_edit.fax">
                </div>
            </div>
            <div class="form-input row">
                <label class="control-label col-md-3">Skype</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="contactFormCtrl.contact_edit.skype">
                </div>
            </div>
        </div>
        <div class="form-box col-md-4">
            <label class="control-label col-md-3">Kommentar</label>
            <textarea class="form-control" rows="8" ng-model="contactFormCtrl.contact_edit.comment"></textarea>
        </div>
    </div>

    <div class="row-md pull-right">
            <button class="btn btn-primary" ng-click="contactFormCtrl.saveContact()">Speichern</button>
            <button class="btn btn-danger" ng-click="contactFormCtrl.cancelEdit()">Abbrechen</button>
            <button class="btn btn-default" ng-click="contactFormCtrl.deleteContact()"
                    ng-disabled="contactFormCtrl.contact_edit.id == null">Löschen
            </button>
    </div>
</div>
{{ contactFormCtrl.contact_edit }}