<div class="container-fluid form-default">
    <div class="row tile">
        <div class="col-sm-4 form-box">
            <div class="form-input">
                <label class="control-label col-md-3">Firma1</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="cFormCtrl.cust_edit.name1">
                </div>
            </div>
            <div class="form-input">
                <label class="control-label col-md-3">Firma2</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="cFormCtrl.cust_edit.name2">
                </div>
            </div>
            <!-- <div class="fomr-input">&nbsp;</div> -->
            <div class="form-input">
                <label class="control-label col-md-3">Straße</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="cFormCtrl.cust_edit.address.street">
                </div>
            </div>
            <div class="form-input">
                <label class="control-label col-md-3">Straße2</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="cFormCtrl.cust_edit.address.street2">
                </div>
            </div>
            <div class="form-input">
                <label class="control-label col-md-3">Postleitzahl</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="cFormCtrl.cust_edit.address.zipcode">
                </div>
            </div>
            <div class="form-input">
                <label class="control-label col-md-3">Stadt</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="cFormCtrl.cust_edit.address.city">
                </div>
            </div>
            <div class="form-input">
                <label class="control-label col-md-3">{{ core_data.country.display_name }}</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="cFormCtrl.cust_edit.address.country" ng-required="true"
                            ng-options="option.name for option in core_data.country.values track by option.id">
                        <option value="">-- Bitte wählen --</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-4 form-box">
            <div class="form-input">
                <label class="control-label col-md-3">Kundennr.</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" ng-model="cFormCtrl.cust_edit.customer_no">
                </div>
            </div>
            <div class="form-input">
                <label class="control-label col-md-3">E&#8209;Mail</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="cFormCtrl.cust_edit.email">
                </div>
            </div>
            <div class="form-input">
                <label class="control-label col-md-3">E&#8209;Mail2</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="cFormCtrl.cust_edit.email2">
                </div>
            </div>
            <div class="form-input">
                <label class="control-label col-md-3">Telefon</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="cFormCtrl.cust_edit.phone">
                </div>
            </div>
            <div class="form-input">
                <label class="control-label col-md-3">Mobil</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="cFormCtrl.cust_edit.phone2">
                </div>
            </div>
            <div class="form-input">
                <label class="control-label col-md-3">Fax</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="cFormCtrl.cust_edit.fax">
                </div>
            </div>
            <div class="form-input">
                <label class="control-label col-md-3">Skype</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="cFormCtrl.cust_edit.skype">
                </div>
            </div>
        </div>
        <div class="col-sm-4 form-box">
            <label class="control-label">Kommentar</label>
            <textarea class="form-control" rows="8" ng-model="cFormCtrl.cust_edit.comment"></textarea>
        </div>
    </div>
    <div class="row tile">
        <div class="col-sm-4 form-box">
            <div class="form-input">
                <label class="control-label col-md-3">{{ core_data.cust_status.display_name }}</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="cFormCtrl.cust_edit.status" ng-required="true"
                            ng-options="option.name for option in core_data.cust_status.values track by option.id">
                        <option value="">-- Bitte wählen --</option>
                    </select>
                </div>
            </div>
            <div class="form-input">
                <label class="control-label col-md-3">Accountmgr.</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="cFormCtrl.cust_edit.account_manager"
                            ng-options="option.username for option in core_data.account_managers.values | orderBy:'username' track by option.id">
                        <option value="">-- Bitte wählen --</option>
                    </select>
                </div>
            </div>
            <div class="form-input">
                <label class="control-label col-md-3">{{ core_data.cust_potential.display_name }}</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="cFormCtrl.cust_edit.potential" ng-required="true"
                            ng-options="option.name for option in core_data.cust_potential.values track by option.id">
                        <option value="">-- Bitte wählen --</option>
                    </select>
                </div>
            </div>
            <div class="form-input">
                <label class="control-label col-md-3">{{ core_data.cust_origin.display_name }}</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="cFormCtrl.cust_edit.origin" ng-required="true"
                            ng-options="option.name for option in core_data.cust_origin.values track by option.id">
                        <option value="">-- Bitte wählen --</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-4 form-box">

        </div>
        <div class="col-sm-4 form-box">
            <label class="control-label">Rechnungsbedingungen</label>
            <textarea class="form-control" rows="5" ng-model="cFormCtrl.cust_edit.invoicing_details"></textarea>
        </div>
    </div>
    <div class="row pull-right">
        <button class="btn btn-primary" ng-click="cFormCtrl.saveCust()">Speichern</button>
        <button class="btn btn-danger" ng-click="cFormCtrl.cancelEdit()">Abbrechen</button>
        <button class="btn btn-default" ng-click="cFormCtrl.deleteCust()" ng-disabled="cFormCtrl.cust_edit.id == null">
            Löschen
        </button>
    </div>
</div>