<div class="form-group row prop-multi-select">
  <div class="col-sm-12">
    <label class="control-label">{{ valuearray.display_name}}</label>
  </div>
</div>
<div class="form-group row">
  <div class="float-left" style="min-width: 200px">
    <ss-multiselect-dropdown [options]="valuelist" [texts]="multiselectTexts" [settings]="multiselectSettings" [(ngModel)]="currentSelection"></ss-multiselect-dropdown>
  </div>
  <div>
    <button class="btn btn-primary float-left" (click)="addSelectedItems()">
      <i class="fa fa-plus fa-lg"></i>
    </button>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-12">
    <div class="row" *ngFor="let item of objarray">
      <div class="col-sm-12">
        {{ util.getCombinedDisplayName(item) }}
        <span class="clickable iconsmall" (click)="removeSelectedItem(item)">
          <i class="fa fa-trash-o"></i>
        </span>
      </div>
    </div>
  </div>
</div>