<div class="container-fluid compact-default tile small">
    <div class="row-xs">
        <div class="main-item col-sm-12">
            <strong>
                <a href ng-click="editmethod(fl)">{{ fl.name2 }}, {{ fl.name1 }}
                    <span ng-if="fl.company_name.length > 0">
                    &nbsp;({{ fl.company_name }})
                </span>
                </a>
            </strong>
        </div>

    </div>
    <div class="row-sm">
        <div class="col-sm-2">
            <div class="row">
                <div class="col-xs-12">
                    {{ fl.address.city }} ({{ fl.address.country.name }})
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="row">
                <label class="col-xs-5">Rating:</label>
                <div class="col-xs-7">{{ fl.fl_rating.name }}</div>
            </div>
            <div class="row">
                <label class="col-xs-5">Status:</label>
                <div class="col-xs-7">{{ fl.fl_status.name }}</div>
            </div>
            <div class="row">
                <label class="col-xs-5">NDA:</label>
                <div class="col-xs-7">{{ fl.nda.name }}</div>
            </div>
            <div class="row">
                <label class="col-xs-5">Vereidigt:</label>
                <div class="col-xs-7">{{ fl.sworn }}</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <label class="col-xs-3">E-Mail:</label>
                <div class="col-xs-9"><a href="mailto:{{ fl.email }}">{{ fl.email }}</a></div>
            </div>
            <div class="row">
                <label class="col-xs-3">E-Mail2:</label>
                <div class="col-xs-9"><a href="mailto:{{ fl.email2 }}">{{ fl.email2 }}</a></div>
            </div>
            <div class="row">
                <label class="col-xs-3">Fon:</label>
                <div class="col-xs-9">{{ fl.phone }}</div>
            </div>
            <div class="row">
                <label class="col-xs-3">Mobil:</label>
                <div class="col-xs-9">{{ fl.phone2 }}</div>
            </div>
            <div class="row">
                <label class="col-xs-3">Fax:</label>
                <div class="col-xs-9">{{ fl.fax }}</div>
            </div>
            <div class="row">
                <label class="col-xs-3">Skype:</label>
                <div class="col-xs-9"><a href="skype:{{ fl.skype }}?chat">{{ fl.skype }}</a></div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row" ng-repeat="element in (fl.prices | orderPrices)">
                        <div class="col-xs-3">{{ getCombinedDisplayName(element.lng_source) }}</div>
                        <div class="col-xs-1"><span class="glyphicon glyphicon-arrow-right iconsmall"></span></div>
                        <div class="col-xs-3">{{ getCombinedDisplayName(element.lng_target) }}</div>
                        <div class="col-xs-3">{{ element.service.name }} pro {{ element.price_unit.name }}</div>
                        <div class="col-xs-2">{{ element.price_per_unit | currency:element.currency.name:3 }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div>{{ fl.comment }}</div>
                </div>
            </div>
        </div>
    </div>
</div>