<div class="alist">
  <h2>{{ valuearray.display_name }}</h2>
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6">
      <div class="alist-main-item-new input-group">
        <input [(ngModel)]="main_item_new" (keydown.enter)="createTwoLevelEntityMainItem(main_item_new)" class="form-control form-control-sm">
        <span class="input-group-btn">
          <button type="button" class="btn btn-sm btn-primary mx-1" (click)="createTwoLevelEntityMainItem(main_item_new)">
            <span class="clickable iconsmall">
              <i class="fa fa-plus"></i>
            </span>
          </button>
        </span>
      </div>

      <div class="alist_list">
        <div *ngFor="let mainProp of valuearray.values">

          <!-- New MainItem -->
          <div class="row">
            <app-edit-inline type="text" [(ngModel)]="mainProp.name" (save)="updateTwoLevelEntityMainItem(mainProp.id, $event)"
              size="32"></app-edit-inline>
            <span class="clickable clickable-icon iconsmall" (click)="deleteTwoLevelEntityMainItem(valuearray, mainProp.id)">
              <i class="fa fa-trash-o"></i>
            </span>
            <span class="clickable clickable-icon iconsmall" (click)="makeSubItem(mainProp)">
              <i class="fa fa-link" aria-hidden="true"></i>
            </span>
          </div>

          <!-- New SubItem -->
          <div class="alist-sub-item-new alist-sub-item input-group">
            <input [(ngModel)]="subItemNew[mainProp.id]" (keydown.enter)="createTwoLevelEntitySubItem(mainProp.id, subItemNew[mainProp.id])"
              class="form-control form-control-sm">
            <span class="input-group-btn">
              <button type="button" class="btn btn-sm btn-primary mx-1" (click)="createTwoLevelEntitySubItem(mainProp.id, subItemNew[mainProp.id])">
                <span class="clickable iconsmall">
                  <i class="fa fa-plus"></i>
                </span>
              </button>
            </span>
          </div>

          <!-- List of SubItems-->

          <div *ngFor="let subProp of mainProp.sub_items" class="alist-sub-item">
            <div class="row clearfix">
              <app-edit-inline type="text" [(ngModel)]="subProp.name" (save)="updateTwoLevelEntitySubItem(mainProp.id, subProp.id,
        $event)"
                size="32"></app-edit-inline>
              <span class="clickable clickable-icon iconsmall" (click)="deleteTwoLevelEntitySubItem(mainProp.id,
        subProp.id)">
                <i class="fa fa-trash-o"></i>
              </span>
              <span class="clickable clickable-icon iconsmall" (click)="makeMainItem(subProp.id)">
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>