<div id="loading" flex="100" flex-gt-sm="none" layout="row" ng-if="!core.dataloaded">
    Daten werden geladen ...
</div>
<div id="container" flex="100" flex-gt-sm="none" layout="row" ng-if="core.dataloaded">
    <div id="header">
        <div>WerftNET Version 0.1</div>
        <div id="topnav" ng-if="core.isLoggedIn()" ng-include="'app/layout/topnav.html'"></div>
    </div>
    <div id="content" ng-controller="shellController as shell">
        <div ng-view></div>
    </div>
    <div id="footer">Footer für die Seite</div>
</div>