<nav class="navbar navbar-default" ng-controller="topNavCtrl as tnCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    ng-click="tnCtrl.isCollapsed = !tnCtrl.isCollapsed"
            >
                <span class="fa fa-bars"></span>
            </button>
            <span class="navbar-brand">WerftNet</span>
        </div>
        <div class="navbar-collapse" ng-class="tnCtrl.isCollapsed ? 'collapse' : 'in'">
            <ul class="nav navbar-nav">
                <li class="clickable" ng-class="tnCtrl.getActiveNavElement('/')"><a href="#/">Home</a></li>
                <li class="clickable" ng-class="tnCtrl.getActiveNavElement('/freelancer')"><a href="#freelancer">Lieferanten</a></li>
                <li class="clickable" ng-class="tnCtrl.getActiveNavElement('/customer')"><a href="#customer">Kunde</a></li>
                <li class="clickable" ng-class="tnCtrl.getActiveNavElement('/admin')" ng-if="core.hasRole('ROLE_ADMIN')"><a href="#admin">Adminbereich</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li class="clickable" ng-class="tnCtrl.getActiveNavElement('/user')"><a href="#user">Benutzerprofil</a></li>
                <li class="clickable" ng-if="core.isLoggedIn()"><a href ng-click="core.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
