<button class="btn btn-sm btn-default float-right" (click)="clearAllButName()">Clear</button>
<h1 *ngIf="fl_edit.id">Lieferanten bearbeiten</h1>
<h1 *ngIf="!fl_edit.id">Lieferanten anlegen</h1>
<div class="form-default">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <form class="col-sm-4  form-horizontal">
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">{{ coreData.anrede.display_name }}</label>
            <div class="col-md-8">
              <select class="form-control form-control-sm" name="edit-anrede" [(ngModel)]="fl_edit.anrede" [compareWith]='util.compareById'>
                <option [value]='undefined' selected>-- Bitte wählen --</option>
                <option *ngFor="let option of coreData.anrede.values" [ngValue]="option">{{ option.name }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">Vorname</label>
            <div class="col-md-8">
              <input class="form-control form-control-sm" name="edit-name1" [(ngModel)]="fl_edit.name1">
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">Nachname</label>
            <div class="col-md-8">
              <input class="form-control form-control-sm" name="edit-2" [(ngModel)]="fl_edit.name2">
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">Firma</label>
            <div class="col-md-8">
              <input class="form-control form-control-sm" name="edit-company_name" [(ngModel)]="fl_edit.company_name">
            </div>
          </div>
          <!-- <div class="fomr-input">&nbsp;</div> -->
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">Straße</label>
            <div class="col-md-8">
              <input class="form-control form-control-sm" name="edit-address-street" [(ngModel)]="fl_edit.address.street">
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">Straße2</label>
            <div class="col-md-8">
              <input class="form-control form-control-sm" name="edit-address-street2" [(ngModel)]="fl_edit.address.street2">
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">Postleitzahl</label>
            <div class="col-md-8">
              <input class="form-control form-control-sm" name="edit-address-zipcode" [(ngModel)]="fl_edit.address.zipcode">
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">Stadt</label>
            <div class="col-md-8">
              <input class="form-control form-control-sm" name="edit-address-city" [(ngModel)]="fl_edit.address.city">
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">{{ coreData.country.display_name }}</label>
            <div class="col-md-8">
              <select class="form-control form-control-sm" name="edit-address-country" [(ngModel)]="fl_edit.address.country" [compareWith]='util.compareById'>
                <option [value]='undefined' selected>-- Bitte wählen --</option>
                <option *ngFor="let option of coreData.country.values" [ngValue]="option">{{ option.name }}</option>
              </select>
            </div>
          </div>
        </form>
        <form class="col-sm-4  form-horizontal">
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">Lieferantennr.</label>
            <div class="col-md-8">
              <input class="form-control form-control-sm" name="edit-supplier_no" [(ngModel)]="fl_edit.supplier_no">
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">E&#8209;Mail</label>
            <div class="col-md-8">
              <input class="form-control form-control-sm" name="edit-email" [(ngModel)]="fl_edit.email">
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">E&#8209;Mail2</label>
            <div class="col-md-8">
              <input class="form-control form-control-sm" name="edit-email2" [(ngModel)]="fl_edit.email2">
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">Telefon</label>
            <div class="col-md-8">
              <input class="form-control form-control-sm" name="edit-phone" [(ngModel)]="fl_edit.phone">
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">Mobil</label>
            <div class="col-md-8">
              <input class="form-control form-control-sm" name="edit-phone2" [(ngModel)]="fl_edit.phone2">
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">Fax</label>
            <div class="col-md-8">
              <input class="form-control form-control-sm" name="edit-fax" [(ngModel)]="fl_edit.fax">
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">Skype</label>
            <div class="col-md-8">
              <input class="form-control form-control-sm" name="edit-skype" [(ngModel)]="fl_edit.skype">
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">Geburtstag</label>
            <div class="col-md-8">
              <input type="date" class="form-control form-control-sm" name="edit-date_of_birth" [(ngModel)]="fl_edit.date_of_birth">
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">Korr.Spr.</label>
            <div class="col-md-8">
              <select class="form-control form-control-sm" name="edit-correspond_language" [(ngModel)]="fl_edit.correspond_language" [compareWith]='util.compareById'>
                <option [value]='undefined' selected>-- Bitte wählen --</option>
                <option *ngFor="let option of coreData.languages_flat.values" [ngValue]="option">{{ option.name }}</option>
              </select>
            </div>
          </div>
        </form>
        <form class="col-sm-4  form-horizontal">
          <div>
            <label>Interne Info</label>
          </div>
          <textarea class="form-control form-control-sm" rows="8" name="edit-comment" [(ngModel)]="fl_edit.comment"></textarea>
        </form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <form class="col-sm-4  form-horizontal">
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">{{ coreData.freelancer_status.display_name }}</label>
            <div class="col-md-8">
              <select class="form-control form-control-sm" name="edit-fl_status" [(ngModel)]="fl_edit.fl_status" [compareWith]='util.compareById'>
                <option [value]='undefined' selected>-- Bitte wählen --</option>
                <option *ngFor="let option of coreData.freelancer_status.values" [ngValue]="option">{{ option.name }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">{{ coreData.freelancer_rating.display_name }}</label>
            <div class="col-md-8">
              <select class="form-control form-control-sm" name="edit-fl_rating" [(ngModel)]="fl_edit.fl_rating" [compareWith]='util.compareById'>
                <option [value]='undefined' selected>-- Bitte wählen --</option>
                <option *ngFor="let option of coreData.freelancer_rating.values" [ngValue]="option">{{ option.name }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">DSGVO</label>
            <div class="col-md-8">
              <select class="form-control form-control-sm" name="edit-dsgvo" [(ngModel)]="fl_edit.dsgvo" [compareWith]='util.compareById'>
                <option [value]='undefined' selected>-- Bitte wählen --</option>
                <option *ngFor="let option of coreData.yes_no_in_progress.values" [ngValue]="option">{{ option.name }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">NDA</label>
            <div class="col-md-8">
              <select class="form-control form-control-sm" name="edit-nda" [(ngModel)]="fl_edit.nda" [compareWith]='util.compareById'>
                <option [value]='undefined' selected>-- Bitte wählen --</option>
                <option *ngFor="let option of coreData.yes_no_in_progress.values" [ngValue]="option">{{ option.name }}</option>
              </select>
            </div>
          </div>
        </form>
        <form class="col-sm-4  form-horizontal">
          <div class="form-group row no-gutters">
            <label class="col-md-3" for="edit-sworn">Vereidigt</label>
            <div class="col-md-8 form-check checkbox-after-label">
              <input class="form-check-input" type="checkbox" [(ngModel)]="fl_edit.sworn" id="edit-swordn" name="edit-sworn">
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">Muttersp.1</label>
            <div class="col-md-8">
              <select class="form-control form-control-sm" name="edit-mothertounge" [(ngModel)]="fl_edit.mothertounge" [compareWith]='util.compareById'>
                <option [value]='undefined' selected>-- Bitte wählen --</option>
                <option *ngFor="let option of coreData.languages_flat.values" [ngValue]="option">{{ option.name }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">Muttersp.2</label>
            <div class="col-md-8">
              <select class="form-control form-control-sm" name="edit-mothertounge2" [(ngModel)]="fl_edit.mothertounge2" [compareWith]='util.compareById'>
                <option [value]='undefined' selected>-- Bitte wählen --</option>
                <option *ngFor="let option of coreData.languages_flat.values" [ngValue]="option">{{ option.name }}</option>
              </select>
            </div>
          </div>
        </form>
        <form class="col-sm-4  form-horizontal">
          <app-prop-multi-select [objarray]="fl_edit.cat_tools" [valuearray]="coreData.cat_tools">
          </app-prop-multi-select>
        </form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <form class="col-sm-12  form-horizontal">
          <div class="row">
            <div class="col-sm-12">
              <h4>Preise</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group row no-gutters">
                <label class="col-form-label col-form-label-sm col-md-4" for="edit-cat-prices">CAT-Staffel</label>
                <div class="col-md-8 form-check">
                  <input class="form-check-input" type="checkbox" name="edit-cat_prices" [(ngModel)]="fl_edit.cat_prices" id="edit-swordn"
                    name="edit-cat-prices">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <app-freelancer-edit-price (save)="addPrice($event)"></app-freelancer-edit-price>
            </div>
          </div>

          <div class="row" *ngFor="let element of fl_edit.prices">
            <div class="col-sm-12">
              <div *ngIf="!editPrice[element.id]" class="form-group row no-gutters">
                <div class="col-sm-2">{{ util.getCombinedDisplayName(element.lng_source) }}</div>
                <div class="col-sm-2">{{ util.getCombinedDisplayName(element.lng_target) }}</div>
                <div class="col-sm-4">{{ element.service.name }} pro {{ element.price_unit.name }}</div>
                <div class="col-sm-1">{{ element.price_per_unit | currency:(element.currency && element.currency.name):'symbol':'.2-3' }}</div>
                <div class="col-sm-1">{{ element.minimum_price | currency:(element.currency && element.currency.name):2 }}</div>
                <div class="col-sm-2 pull-right">
                  <span class="clickable clickable-icon iconsmall" (click)="toggleEditPrice(element)" title="Preis bearbeiten">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </span>
                  <span class="clickable clickable-icon iconsmall" (click)="util.removeFromArray(fl_edit.prices, element)">
                    <i class="fa fa-trash-o"></i>
                  </span>
                </div>
              </div>
              <app-freelancer-edit-price *ngIf="editPrice[element.id]" [priceLine]="element" (save)="toggleEditPrice(element)" (cancel)="toggleEditPrice(element)"></app-freelancer-edit-price>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <form class="row">
        <div class="col-sm-4  form-horizontal">
          <app-prop-multi-select [objarray]="fl_edit.sectors" [valuearray]="coreData.sectors_flat">
          </app-prop-multi-select>
        </div>
        <div class="col-sm-4  form-horizontal">
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">{{ coreData.freelancer_payment_types.display_name }}</label>
            <div class="col-md-8">
              <select class="form-control form-control-sm" name="edit-fl_payment_type" [(ngModel)]="fl_edit.fl_payment_type" [compareWith]='util.compareById'>
                <option [value]='undefined' selected>-- Bitte wählen --</option>
                <option *ngFor="let option of coreData.freelancer_payment_types.values" [ngValue]="option">{{ option.name }}</option>
              </select>
            </div>
          </div>

          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">{{ coreData.freelancer_invoicing_types.display_name }}</label>
            <div class="col-md-8">
              <select class="form-control form-control-sm" name="edit-fl_invoicing_type" [(ngModel)]="fl_edit.fl_invoicing_type" [compareWith]='util.compareById'>
                <option [value]='undefined' selected>-- Bitte wählen --</option>
                <option *ngFor="let option of coreData.freelancer_invoicing_types.values" [ngValue]="option">{{ option.name }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">USt.-Nr.</label>
            <div class="col-md-8">
              <input class="form-control form-control-sm" name="edit-vat_no" [(ngModel)]="fl_edit.vat_no">
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4">Steuer ID</label>
            <div class="col-md-8">
              <input class="form-control form-control-sm" name="edit-tax_id" [(ngModel)]="fl_edit.tax_id">
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-form-label col-form-label-sm col-md-4" for="edit-vat_payer">MwSt.</label>
            <div class="col-md-8 form-check">
              <input class="form-check-input" type="checkbox" name="edit-vat_payer" [(ngModel)]="fl_edit.vat_payer" id="edit-vat_payer
             " name="edit-vat_payer">
            </div>
          </div>
        </div>
        <div class="col-sm-4  form-horizontal">
          <div>
            <label>Bankverbindung</label>
          </div>
          <textarea class="form-control form-control-sm" rows="5" name="edit-bankdetails" [(ngModel)]="fl_edit.bankdetails"></textarea>
        </div>
      </form>
    </div>
  </div>

  <div class="btn-group pull-right my-2" role="group">
    <button class="btn btn-sm btn-primary mx-1" (click)="saveFreelancer()">Speichern</button>
    <button class="btn btn-sm btn-default mx-1" (click)="cancelEdit()">Abbrechen</button>
    <button class="btn btn-sm btn-danger mx-1" (click)="deleteFreelancer()" [disabled]="fl_edit.id==null">
      Löschen
    </button>
  </div>
</div>