<div class="form-input">
    <div class="col-sm-12">
        <label class="control-label">{{ valuearraysrc.display_name}}</label>
    </div>
</div>
<div class="form-input row-sm">
    <div class="col-sm-5">
        <select class="form-control" ng-model="new_value.lng_source"
                ng-options="option.name for option in (srcLngArray.values | orderByName) track by option.id">
        </select>
    </div>
    <div class="col-sm-5">
        <select class="form-control" ng-model="new_value.lng_target"
                ng-options="option.name for option in (tgtLngArray.values | orderByName) track by option.id">
        </select>
    </div>
    <div class="col-sm-2 pull-right">
    <span class="glyphicon glyphicon-plus clickable iconsmall"
          ng-click="addToArray(objarray, new_value)"></span>
    </div>
    <div class="clearfix"></div>
</div>
<div class="container-fluid">
    <div class="row" ng-repeat="element in (objarray | orderTwoProps:'lng_source':'lng_target') track by $index">
        <div class="col-sm-12">
            <div class="col-xs-4">{{ element.lng_source.name }}</div>
            <div class="col-xs-1 no-pad-horiz">--&gt;</div>
            <div class="col-xs-5">{{ element.lng_target.name }}</div>
            <div class="col-xs-2 no-pad-horiz glyphicon glyphicon-remove clickable iconsmall"
                 ng-click="removeFromArray(objarray, element)"></span>
            </div>
        </div>
    </div>
</div>