<div class="form-group">
    <div class="col-xs-12">
        <label class="control-label">{{ valuelist.display_name}}</label>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-10">
        <!--
        <select class="form-control" ng-model="new_value"
                ng-options="getCombinedDisplayName(option) for option in (valuelist.values | filterSelected:objarray | orderByName) track by option.id"
                ng-change="addToArray(objarray, new_value)">
        </select>
        -->
        <ui-select multiple
                   ng-model="currentSelection.selectedItems"
                   theme="bootstrap"
                   sortable="true"
                   close-on-select="false">
            <ui-select-match placeholder="Werte wählen...">{{$item.name}}</ui-select-match>
            <ui-select-choices repeat="option in (valuelist.values | filterSelected:objarray | filter: {name: $select.search} | orderByName) track by option.id">
                <div ng-bind-html="option.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-primary"
                ng-click="addSelectedItems()">+</button>
    </div>
</div>
<div class="container-fluid form-group">
    <div class="col-sm-12">
        <div class="row" ng-repeat="element in (objarray | orderByName)">
            <div class="col-sm-12">
                {{ getCombinedDisplayName(element) }}
                <span class="glyphicon glyphicon-remove clickable iconsmall"
                      ng-click="removeFromArray(objarray, element)"></span>
            </div>
        </div>
    </div>
</div>