<h1 *ngIf="contact_edit.id">Kontakt bearbeiten</h1>
<h1 *ngIf="!contact_edit.id">Kontakt anlegen</h1>
<div class="card">
  <div class="card-body">
    <div class="row">
      <form class=" col-md-4 form-horizontal">
        <div class="form-group row no-gutters">
          <label class="col-form-label col-form-label-sm col-md-4">{{ coreData.anrede.display_name }}</label>
          <div class="col-md-8">
            <select class="form-control form-control-sm" name="edit-anrede" [(ngModel)]="contact_edit.anrede" [compareWith]='util.compareById'
              required>
              <option [value]='undefined' selected>-- Bitte wählen --</option>
              <option *ngFor="let option of coreData.anrede.values" [ngValue]="option">{{ option.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row no-gutters">
          <label class="col-form-label col-form-label-sm col-md-4">Vorname</label>
          <div class="col-md-8">
            <input class="form-control form-control-sm" name="edit-name1" [(ngModel)]="contact_edit.name1">
          </div>
        </div>
        <div class="form-group row no-gutters">
          <label class="col-form-label col-form-label-sm col-md-4">Nachname</label>
          <div class="col-md-8">
            <input class="form-control form-control-sm" name="edit-name2" [(ngModel)]="contact_edit.name2">
          </div>
        </div>
        <div class="form-group row no-gutters">
          <label class="col-form-label col-form-label-sm col-md-4">Position</label>
          <div class="col-md-8">
            <input class="form-control form-control-sm" name="edit-position" [(ngModel)]="contact_edit.position">
          </div>
        </div>
        <div class="form-group row no-gutters">
          <label class="col-form-label col-form-label-sm col-md-4">Korr.Spr.</label>
          <div class="col-md-8">
            <select class="form-control form-control-sm" name="edit-correspond_language" [(ngModel)]="contact_edit.correspond_language"
              [compareWith]='util.compareById'>
              <option [value]='undefined' selected>-- Bitte wählen --</option>
              <option *ngFor="let option of coreData.languages_flat.values" [ngValue]="option">{{ option.name }}</option>
            </select>
          </div>
        </div>
      </form>
      <form class=" col-md-4 form-horizontal">
        <div class="form-group row no-gutters">
          <label class="col-form-label col-form-label-sm col-md-4">E-Mail</label>
          <div class="col-md-8">
            <input class="form-control form-control-sm" name="edit-email" [(ngModel)]="contact_edit.email">
          </div>
        </div>
        <div class="form-group row no-gutters">
          <label class="col-form-label col-form-label-sm col-md-4">E-Mail2</label>
          <div class="col-md-8">
            <input class="form-control form-control-sm" name="edit-email2" [(ngModel)]="contact_edit.email2">
          </div>
        </div>
        <div class="form-group row no-gutters">
          <label class="col-form-label col-form-label-sm col-md-4">Telefon</label>
          <div class="col-md-8">
            <input class="form-control form-control-sm" name="edit-phone" [(ngModel)]="contact_edit.phone">
          </div>
        </div>
        <div class="form-group row no-gutters">
          <label class="col-form-label col-form-label-sm col-md-4">Mobil</label>
          <div class="col-md-8">
            <input class="form-control form-control-sm" name="edit-phone2" [(ngModel)]="contact_edit.phone2">
          </div>
        </div>
        <div class="form-group row no-gutters">
          <label class="col-form-label col-form-label-sm col-md-4">Fax</label>
          <div class="col-md-8">
            <input class="form-control form-control-sm" name="edit-fax" [(ngModel)]="contact_edit.fax">
          </div>
        </div>
        <div class="form-group row no-gutters">
          <label class="col-form-label col-form-label-sm col-md-4">Skype</label>
          <div class="col-md-8">
            <input class="form-control form-control-sm" name="edit-skype" [(ngModel)]="contact_edit.skype">
          </div>
        </div>
      </form>
      <form class=" col-md-4">
        <label class="col-form-label col-form-label-sm col-md-12">Interne Info</label>
        <textarea class="form-control form-control-sm" rows="8" name="edit-comment" [(ngModel)]="contact_edit.comment"></textarea>
      </form>
    </div>
  </div>
</div>

<div class="btn-group pull-right my-2" role="group">
  <button class="btn btn-sm btn-primary mx-1" (click)="saveCustomerContact()">Speichern</button>
  <button class="btn btn-sm btn-default mx-1" (click)="cancelEdit()">Abbrechen</button>
  <button class="btn btn-sm btn-danger mx-1" (click)="deleteCustomerContact()" ng-disabled="contact_edit.id == null">Löschen
  </button>
</div>