<div>
  <h1>WerftNet Startseite</h1>
  <h2>Letzte Aufträge</h2>
  <div class="row font-weight-bold">
    <div class="col-sm-2">Auftragsnr.</div>
    <div class="col-sm-5">Kunde</div>
    <div class="col-sm-3">Projektmgr.</div>
    <div class="col-sm-2">Anlagedatum</div>
  </div>
  <div class="row" *ngFor="let order of lastOrders.items">
    <div class="col-sm-2"><a [routerLink]="'/order/edit/' + order.id">{{ order.order_no }}</a></div>
    <div class="col-sm-5">{{order.customer && order.customer.name1}}</div>
    <div class="col-sm-3">{{order.project_manager && order.project_manager.username}}</div>
    <div class="col-sm-2">{{order.created_at | date: "dd.MM.yyyy HH:mm"}}</div>
  </div>
</div>