<nav id="topnav" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed">
        <span class="fa fa-bars"></span>
      </button>
      <span class="navbar-brand">WerftNet</span>
    </div>
    <div class="navbar-collapse" [ngClass]="isCollapsed ? 'collapse' : 'in'">
      <ul class="nav navbar-nav">
        <li class="clickable" routerLinkActive="active">
          <a routerLink="home">Home</a>
        </li>
        <li class="clickable" routerLinkActive="active">
          <a routerLink="freelancer">Lieferanten</a>
        </li>
        <li class="clickable" routerLinkActive="active">
          <a routerLink="customer">Kunde</a>
        </li>
        <li class="clickable" routerLinkActive="active" *ngIf="userHasRole('ROLE_ADMIN')">
          <a routerLink="admin">Adminbereich</a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li class="clickable" routerLinkActive="active">
          <a routerLink="user">Benutzerprofil</a>
        </li>
        <li class="clickable" routerLinkActive="active" ng-if="isUserLoggedIn()">
          <a (click)="logoutUser()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>