<nav id="topnav" class="navbar navbar-expand-md navbar-light bg-light">
  <span class="navbar-brand">WerftNet</span>
  <button type="button" class="navbar-toggler" (click)="isNavbarCollapsed = !isNavbarCollapsed">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link" routerLink="home" routerLinkActive="active">Home</a>
      <a class="nav-item nav-link" routerLink="freelancer" routerLinkActive="active">Lieferanten</a>
      <a class="nav-item nav-link" routerLink="customer" routerLinkActive="active">Kunde</a>
      <a class="nav-item nav-link" routerLink="admin" routerLinkActive="active">Adminbereich</a>
    </div>
    <div class="nav navbar-nav ml-auto">
      <a class="nav-item nav-link" routerLink="user" routerLinkActive="active">Benutzerprofil</a>
      <a class="nav-item nav-link clickable" (click)="logoutUser()">Logout</a>
    </div>
  </div>
</nav>