<div>
    <h1>Bitte einloggen</h1>

    <form class="form-horizontal">
        <div class="form-input row">
            <label for="username" class="control-label col-sm-4">Benutzer</label>
            <div class="col-sm-5">
                <input id="username" type="text" ng-model="username" class="form-control">
            </div>
        </div>
        <div class="form-input row">
            <label for="password" class="control-label col-sm-4">Passwort</label>
            <div class="col-sm-5">
                <input id="password" type="password" ng-model="password" class="form-control">
            </div>
        </div>
        <div class="form-input row">
            <span class="col-sm-4"></span>
            <div class="col-sm-5">
                <button class="btn btn-block btn-primary" ng-click="core.login(username, password)">Login</button>
            </div>
        </div>
        <div class="form-input row">
            <span class="col-sm-4"></span>
            <div class="col-sm-5">
                <div class="text-danger">{{ core.getLoginError() }}</div>
            </div>

        </div>

    </form>

</div>