<h1>Adminbereich</h1>

<div class="row-sm">
  <div class="col-sm-12 col-lg-6">
    <div class="row-sm">
      <div class="col-sm-6">
        <h2>Allgemein</h2>
        <ul>
          <li>
            <a routerLink="/admin/anrede">Anrede</a>
          </li>
          <li>
            <a routerLink="/admin/country">Land</a>
          </li>
          <li>
            <a routerLink="/admin/sector">Fachgebiet</a>
          </li>
          <li>
            <a routerLink="/admin/language">Sprache</a>
          </li>
          <li>
            <a routerLink="/admin/service">Dienstleistung</a>
          </li>
          <li>
            <a routerLink="/admin/priceunit">Preiseinheit</a>
          </li>
          <li>
            <a routerLink="/admin/currency">Währung</a>
          </li>
          <li>
            <a routerLink="/admin/cattool">CAT-Tool</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h2>Lieferanten</h2>
        <ul>
          <li>
            <a routerLink="/admin/flpaymenttype">Bezahlart</a>
          </li>
          <li>
            <a routerLink="/admin/flinvoicingtype">Rechnungsart</a>
          </li>
          <li>
            <a routerLink="/admin/flrating">Rating</a>
          </li>
          <li>
            <a routerLink="/admin/flstatus">Status</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-6">
    <div class="row-sm">
      <div class="col-sm-6">
        <h2>Kunden</h2>
        <ul>
          <li>
            <a routerLink="/admin/custorigin">Kontaktherkunft</a>
          </li>
          <li>
            <a routerLink="/admin/custpotential">Potenzial</a>
          </li>
          <li>
            <a routerLink="/admin/custstatus">Status</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h2>Benutzer</h2>
        <ul>
          <li>
            <a routerLink="/admin/usermanagement">Benutzer verwalten</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>